<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MikeSheWrapper.JupiterTools.Properties.Settings.herningConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Jacob\Udvikling\MikeSheWrapper\MikeSheWrapper\ThirdPartyBinaries\PcJupiterXLEmptyTables.mdb"
            providerName="System.Data.OleDb" />
        <add name="MikeSheWrapper.JupiterTools.Properties.Settings.JupiterConnectionString"
            connectionString="Data Source=JACOB-PC;Initial Catalog=Jupiter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>